body{
   background-color: #306b34;
}




header{
    /* border: 3px solid red; */
    margin: 0 auto;
    width: 1280px;
    background-color: white;
    padding: 40px 0 55px 44px;
}

li{
    display: inline-block;
    margin-right: 102px;
    color: #7f7f7f;
    font-family: 'Roboto';
    font-size: 18px;
}

.logo{
    vertical-align: middle;
    margin-right: 72px;
}

nav{
    vertical-align: middle;
   display: inline-block;
}

.search{
    margin-left: 45px;
    color: black;
}