 
   /* header style */
header{
    /* border: 3px solid red; */
    margin: 0 auto;
    width: 1280px;
    background-color: white;
    padding: 40px 0 55px 44px;
}

li{
    display: inline-block;
    margin-right: 102px;
    color: #7f7f7f;
    font-family: 'Roboto';
    font-size: 18px;
}

.logo{
    vertical-align: middle;
    margin-right: 72px;
}

nav{
    vertical-align: middle;
   display: inline-block;
}

.search{
    margin-left: 45px;
    color: black;
}



/* section style */

section{
    margin: 0 auto;
    /* border: 2px solid red; */
    width: 1240px;
    background-color: #306b34;
}

.bookimg{
    width: 679px;
    height: 453px;
    padding: 174px 89px 152px 75px;

}

div{ display: inline-block;
    vertical-align: top;
}

h1{
    
    margin-top: 188px;
    font-size: 40px;
    font-family: 'Roboto';
    color: #19381f;
}
p{
   margin-top: 59px;
    color: white;
    font-size: 20px;
   font-style: italic;
   width: 307px;
   height: 291px;
}

 /* article style */


 article{
    margin: 0 auto;
    /* border: 3px solid red; */
    width: 913px;
    text-align: center;
   padding: 88px 137px 118px 184px;
 }


 .whatwecover{
    width: 272px;
    height: 46px;
    font-family: 'Roboto';
    color: #36413e;
 }

 H2{
    text-align: center;
    margin: 0 auto;
   width: 959px;
   height: 126px;
   margin-top: 71px;
   font-style: italic;
   font-size: 20px;
   color: #7f7f7f;
   font-family: 'Roboto';
 }




    /* footer style */

 

footer{
    padding: 25px 100px 23px 74px;
    margin: 0 auto;
    width: 1080px;
    background-color: #306b34;
    /* border: 2px solid red; */
}

 .illuminated{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    
 }

 .copyright{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto';
    margin-right: 300px;
    font-size: 12px;
 }