

header{
    /* border: 3px solid red; */
    margin: 0 auto;
    width: 1280px;
    background-color: white;
    padding: 40px 0 55px 44px;
}

li{
    display: inline-block;
    margin-right: 102px;
    color: #7f7f7f;
    font-family: 'Roboto';
    font-size: 18px;
}

.logo{
    vertical-align: middle;
    margin-right: 72px;
}

nav{
    vertical-align: middle;
   display: inline-block;
}

.search{
    margin-left: 45px;
    color: black;
}

section{
    margin: 0 auto;
    /* border: 2px solid red; */
    width: 1240px;
    background-color: #306b34;
}

.bookimg{
    width: 679px;
    height: 453px;
    margin-left: 75px;
    margin-top: 174px;
    margin-right: 89px;
}

div{ display: inline-block;
    vertical-align: top;
}

h1{
    
    margin-top: 188px;
    font-size: 40px;
    font-family: 'Roboto';
    color: #19381f;
}
p{
   margin-top: 59px;
    color: white;
    font-size: 20px;
   font-style: italic;
   width: 307px;
   height: 291px;
}